body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 80px auto;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 8px 9px #333;
}
h1 {
  text-align: center;
  color: #4caf50;
}
p {
  font-size: 18px;
  line-height: 1.6;
  color: #555;
}
.input-group {
  display: flex;
  /* margin-bottom: 20px; */
  padding-left: 5%;
}
.Tambah {
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
  transition: all 0.3s ease;
}
.Tambah:hover {
  transform: scale(1.1);
  background-color: #45a049;
  box-shadow: 5px 5px 10px #333;
}
.Input {
  flex: 1;
  padding: 10px;
  max-width: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.taskList {
  padding-left: 20px;
  align-items: center;
  color: #333;
  list-style: none;
}
.taskList li {
  margin-bottom: 10px;
}
.taskItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e0e0e0;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: transform 0.3s ease;
}
.taskItem:hover {
  transform: translateY(-10px);
  background: #d5d5d5;
  box-shadow: 5px 5px 10px #333;
}

.Info {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.Nama {
  font-weight: bold;
  color: #333;
}

.Date {
  font-size: 12px;
  color: #777;
}

.deleteBtn {
  background: transparent;
  border: none;
  color: red;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
.deleteBtn:hover {
  color: darkred;
  transform: scale(1.1);
  border: none;
  background: transparent;
}

.Input:disabled,
.Tambah:disabled {
  opacity: 0.6;
  cursor: not-allowed; /* Menambahkan kursor not-allowed untuk menunjukkan bahwa elemen tidak dapat diklik*/
}
